.black_field {
    -fx-border-color: dimgray;
    -fx-border-width: 1;
    -fx-background-color: firebrick;
}

.white_field {
    -fx-border-color: dimgray;
    -fx-border-width: 1;
    -fx-background-color: darkgoldenrod;
}
/*show-mnemonic for possible moves displaying
 */
.white_field:show-mnemonic {
    -fx-background-color: yellowgreen;
}

.black_field:show-mnemonic {
    -fx-background-color: forestgreen;
}

/*disabled pseudoclass for attacked figures
*/
.white_field:disabled {
    -fx-background-color: black;
}

.black_field:disabled {
    -fx-background-color: black;
}

.white_field:disabled:show-mnemonic {
    -fx-background-color: red;
}

.black_field:disabled:show-mnemonic {
    -fx-background-color: red;
}

.black_field:show-mnemonic:hover {
    -fx-border-color: forestgreen;
    -fx-border-width: 4;
}

.white_field:show-mnemonic:hover {
    -fx-border-color: yellowgreen;
    -fx-border-width: 4;
}

.notation_label {
    -fx-background-color: darkolivegreen;
    -fx-font-family: "Segoe UI Black";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-border-color: dimgray;
    -fx-border-width: 1;
}

.figure-button{
    -fx-background-color: transparent;
}

.figure-button:hover{
    -fx-border-color: dimgray;
    -fx-border-width: 2;
}

